body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/158/040/original/illuminated_globe.jpg?1739872791");
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: 480px;
  margin: 80px auto 10px 45px;
  padding: 20px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(163, 223, 233);
  opacity: 0.6;
}

h1 {
  text-align: center;
}

select {
  display: block;
  justify-content: center;
  margin: 8px auto 20px auto;
  padding: 7px 310px 7px 5px;
  border-radius: 4px;
  font-size: 15px;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.city-name {
  font-weight: bold;
  font-size: 35px;
}

.city-date {
  font-size: 15px;
  opacity: 0.5;
}

.city-time {
  font-weight: bold;
  font-size: 40px;
}

footer {
  line-height: 1.5;
  text-align: left;
  margin-left: 50px;
  font-size: smaller;
  color: aliceblue;
  opacity: 0.8;
}

a {
  color: rgb(163, 223, 233);
}
