body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/158/040/original/illuminated_globe.jpg?1739872791");
  background-size: cover;
  background-repeat: no-repeat;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.container {
  max-width: 500px;
  margin: 90px auto 80px 50px;
  padding: 20px 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(50, 203, 223);
  box-shadow: 26px -26px 10px 15px rgb(50, 203, 223, 0.3);
  opacity: 0.5;
}

h1 {
  text-align: center;
  font-size: 50px;
  text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

select {
  display: block;
  justify-content: center;
  margin: 8px auto 20px auto;
  padding: 7px 310px 7px 5px;
  border-radius: 4px;
  font-size: 15px;
}

.city {
  display: flex;
  justify-content: space-between;
  padding: 12px;
}

.city-name {
  font-weight: bold;
  font-size: 35px;
}

.city-date {
  font-size: 15px;
  opacity: 0.7;
}

.city-time {
  font-weight: bold;
  font-size: 40px;
}

span {
  font-size: 20px;
}

footer {
  margin-left: 50px;
  margin-bottom: none;
  line-height: 1.5;
  font-size: smaller;
  font-weight: 500;
  color: aliceblue;
}
